.container{
    display: flex;
    justify-content: center;
}
  .card {
    width: 25%;
box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.2);
border-radius: 5px; 
height: 511px;
background-color: rgb(248, 240, 217);
}
.image {
width: 100%;
}
.header{
margin: 0;
}
.text-div {
margin-top: 10px;
}
.text{
text-decoration: underline;
color: rgb(180,154,65);
}
