* {
box-sizing: border-box;
}

.container {
    position: absolute;
    left: 10px;
    top: 10px;
    display: column;
}

.container >div{
    height: 100px;
    width: 100px;
    }

.box1 {
background: green;
}

.box2 {
    background: blue;
}

.box3 {
    background: red;
}