body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: gray;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.container {
    display: flex;
    content: "";
    clear: both;
}

.box {
    margin-right: 5px;
    border: black solid 2px;
    float: left;
    width: 25%;

}
@media screen and (max-width: 600px){
    .container{
        display: block;
    }
    .box{
        margin-top: 5px;
        width: 100%;
    }
}