* {
box-sizing: border-box;
}

.container {
    position: absolute;
    bottom: 10px;
    right: 0;
    display: flex;
}

.container >div{
    height: 200px;
    width: 200px;
    }

.box1 {
background: green;
}

.box2 {
    background: blue;
}

.box3 {
    background: red;
}