#outer {
    z-index: -1;
    position: relative;
    width: 100px;
    height: 100px;
    background: darkcyan;
    margin: 50px;}
#inner {
    position: absolute;
    width: 50px;
    height: 50px;
    background: lightgreen;
    top: 10px;}